
/*HEADER*/
/*enquete.css*/
header{
    background: #004694;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: flex;
    width: 100vw;
    height: 65px;
}

header img{
    height: 70%;
}


@media (min-width: 1000px) {
/*FOOTER*/
footer{
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    display: flex;
    bottom: 0vh;
    background: #004694;
    width: 100%;
    height: 150px; 
}
footer section{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
footer section h1{
    font-size: 15px;
    color: #fff;
}

footer img{
    margin: 1vw;
    height: 100%;
}

footer #contributors{
    display: flex;
    flex-direction: column;
}

footer #contributors div{
    display: flex;
    flex-direction: row;
}

footer #contributors img{
    height: 60%;
}
}

@media (max-width: 999px) {
    #navbar{
        display: none;
    }

    #navbarMobile{
        display: flex;
        background: palegreen;
        align-items: center;
        justify-content: center;
    }
    #navbarMobile ul{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbarMobile ui{
        align-items: center;
        justify-content: center;
        background: red;
        padding: 5px;
    }
    /*FOOTER*/
    footer{
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        position: fixed;
        display: flex;
        bottom: 0vh;
        background: #004694;
        width: 100%;
        height: 150px; 
    }
    footer section{
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    footer section h1{
        font-size: 8px;
        color: #fff;
    }
    
    footer img{
        margin: 1vw;
        height: 50%;
    }
    
    footer #contributors{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: red;
    }
    footer #contributors h1{
        padding-top: 10px;
        margin-bottom: -5px;
    }
    
    footer #contributors div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    
    footer #contributors img{
        height: 40%;
    }
    }



/*App*/

.smartufs {
    display: block;
    width: 152px;
    height: 57px;
    background-image: url('../img/smartufs.png');
    position: absolute; top: 170px; left: 30px;
}

.dau {
    display: block;
    width: 181px;
    height: 72px;
    background-image: url('../img/dau.png');
    position: absolute; top: 240px; left: 20px;
}

.dcomp {
    display: block;
    width: 152px;
    height: 75px;
    background-image: url('../img/dcomp.png');
    position: absolute; top: 320px; left: 30px;

}

.theme_text {
    position: absolute;
    width: 600px;
    height: 16px;
    right: 470px;
    top: 120px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
   
    
    text-align: center;
    letter-spacing: 0.25px;
    
    color: #000000;
}

.enquete {
    position: absolute;
    width: 600px;
    height: 16px;
    left: 460px;
    top: 230px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 0.25px;

    color: #000000;
}

.purpose {
    position: absolute;
    width: 250px;
    height: 16px;
    left: 260px;
    top: 350px;


    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;


    text-align: center;
    letter-spacing: 0.4px;

    color: #000000;
}

.descricao {
    position: absolute;
    width: 800px;
    height: 16px;
    left: 534px;
    top: 300px;


    font-family: 'Montserrat', sans-serif;
    font-style: initial;
    font-weight: normal;
    font-size: 14px;
    line-height: 10px;
    

    letter-spacing: 0.4px;

    color: #000000;

}

.alert_how_to {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 395px;
    top: 406px;
    
    background-image: url('../img/alert_how_to.png');

}

.likert_reactions {
    display: block;
    position: absolute;
    width: 517px;
    height: 45px;
    left: 420px;
    top: 500px;
    background-image: url('../svg/likert_reactions.svg');
}


.como_votar {
    position: absolute;
    width: 657px;
    height: 50px;
    left: 430px;
    top: 410px;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    

    letter-spacing: 0.4px;

    color: #000000;
    
}



.escrever_comentario {
    background-color: #004694;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-weight: 700;
    position: absolute;
    width: 226px;
    height: 36px;
    left: 377px;
    top: 570px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    
}




/*countdown.css*/

@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif; background-color: #e7ebf0;
}

h5 {
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

.countdown-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
   
    height: 50px;
}

.countdown-item {
    color: #004694;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #004694;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.countdown-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}


/*inde*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}



.container {
    width: 1000px;
    margin: 20px auto;
}

.center {
    display: flex;
    justify-content: center;
}

.hide {
    display: none;
}


/*LoginScreen*/

.body {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}

.nav_btn {
    background-color: #004694;
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
    border: none;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;

}
.logo_img {
    position: absolute;
    width: 332px;
    height: 273px;
    left: 635px;
    top: 100px;
    background-repeat: no-repeat;
    background-image: url('../svg/logo.svg');
    

}
.smartufs {
    display: block;
    width: 152px;
    height: 57px;
    background-image: url('../img/smartufs.png');
    position: absolute; top: 170px; left: 30px;
}
.dau {
    display: block;
    width: 181px;
    height: 72px;
    background-image: url('../img/dau.png');
    position: absolute; top: 240px; left: 20px;
}
.dcomp {
    display: block;
    width: 152px;
    height: 75px;
    background-image: url('../img/dcomp.png');
    position: absolute; top: 320px; left: 30px;

}
.logo_text {
    font-size: 48px;
    color: #004694;
    padding-left: 200px;
}

.login_text {
    display: block;
    position: absolute;
    top: 300px;
    left: 618px;
    color: #004694;
}

.form-control1 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 625px;
    top: 350px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 700;
    box-sizing: border-box;
}

.form-control2 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    left: 625px;
    top: 380px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-weight: 700;
    box-sizing: border-box;
}
.entrar {
    background-color: #004694;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-weight: 700;
    position: absolute;
    width: 100px;
    height: 36px;
    left: 665px;
    top: 500px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 100px;
}